* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	font-family: Arial, sans-serif;
}

body {
	/* display: flex;
	justify-content: center; */
	background-color: #f6f6f6;
}

.main {
	/* max-width: 700px;
	height: 100vh;

	/* display: flex;
	align-items: center;
	flex-direction: column; */

	padding-top: 150px;
}

.main__title {
	font-weight: 100;
	color: #333;
}

.main__inner {
	display: flex;
	justify-content: space-between;
}

.main__help {
	align-self: flex-end;
	color: #333;
	margin-left: 5px;
	position: relative;
	bottom: 1px;
}

.main__help:hover {
	cursor: help;
}