* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	font-family: Arial, sans-serif;
}

body {
	display: flex;
	justify-content: center;
	background-color: #f9f7f7;
}

.main {
	max-width: 700px;
	height: 100vh;

	padding-top: 150px;

	display: flex;
	align-items: center;
	flex-direction: column;
}

.main__title {
	font-weight: 100;
	color: #333;
}